extends: relaxed
rules:
  line-length: disable
  document-start: disable
  trailing-spaces:
    level: warning
  new-line-at-end-of-file:
    level: warning
# Helm chart templates and encrypted files are not plain YAML.
ignore: |
  **/charts/**
  **/templates/**
  *.enc.yaml
  demo/**
